// COLOR VARIABLES
$color-primary: #C0DFD9;
$color-primary-dark: #6AAC9F;
// $color-primary-dark: #B28451;

$color-secondary: #E9ECE5;

$color-tertiary: #B3C2BF;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #3B3A36;
$color-grey-dark-2: rgb(124, 120, 116);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// DESKTOP BREAKPOINTS
$bp-xlarge: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

*,
figure,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media screen and (max-width: $bp-xlarge) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
}


.transition-wrapper {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 8rem 1fr;
    // grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, 
    // [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    // grid-template-columns: 8rem 1fr;

    // @media screen and (max-width: $bp-large) {
    //     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, 
    //     [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    // }

    @media screen and (max-width: $bp-medium) {
        
    }
}

.heading-1 {
    font-size: 15rem;
    // width: 40%;
}

.heading-2 {
    font-size: 8rem;
}

.container {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    height: 100vh;
    grid-template-columns: repeat(13, 1fr);    
    // grid-template-rows: repeat(6, 1fr);
    &__left {
        grid-column: 1 / 11;
        grid-row: 1 / -1;
        padding: 5rem;

        &--1 {
            background-color: $color-secondary;
        }

        &--2 {
            background-color: $color-tertiary;
        }

        &--3 {
            background-color: $color-grey-dark-1;
        }
    }

    &__right {
        grid-column: 11 / -1;
        grid-row: 1 / -1;

        &--1 {
            background-color: $color-tertiary;
        }

        &--2 {
            background-color: $color-grey-dark-1;
        }
    }
}

.profile-image {
    border-radius: 50%;
    width: 100%;
    grid-column: 10 / 12;
    grid-row: 1 / 2;
    z-index: 2;
    margin-top: 10rem;
}