// this broke after adding PageTransition to the AppRouter
// fixed again?

.container {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    height: 100vh;
    grid-template-columns: repeat(13, 1fr);    
    grid-template-rows: repeat(6, 1fr);
    &__left {
        background-color: $color-secondary;
        grid-column: 1 / 11;
        grid-row: 1 / -1;
    }

    &__right {
        background-color: $color-tertiary;
        grid-column: 11 / -1;
        grid-row: 1 / -1;
    }
}

.profile-image {
    border-radius: 50%;
    width: 100%;
    grid-column: 10 / 12;
    grid-row: 1 / 2;
    z-index: 2;
    margin-top: 10rem;
}