.detail-page {
    overflow: auto;
    box-sizing: border-box;
    padding: 1rem;
    height: 100vh;
    background-color: $color-grey-light-1;
    transition: transform 0.3s, opacity 0.3s;
  
    &.transition-appear {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    &.transition-appear.transition-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &.transition-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  
    &.transition-leave.transition-leave-active {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }